/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  font-size: 48px;
  font-weight: 800;
}

#main-header {
  height: 700px;
  background-image: url(../images/header_bg.jpg);
  background-position: top center;
  background-size:cover;
  padding-top: 32px;
}

header .logo {
  color: #fff;
}
header h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  box-sizing: border-box;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #01214c;
}
.blue {
  background: #01214c;
  color: #fff;
  font-size: 24px;
}
#benefits {
  padding: 100px 0 80px;
}
h3 {
  color: #01214c;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
#benefits p, #benefits ul {
  width: 600px;
}
#benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
}
blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#signup {
  background: #f9e42e;
  padding: 30px 0;
  text-align: center
  float: none;
  width: 100%;
}
footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

/******************************************
/* BLOG PAGE
/*******************************************/

#blog-body {
  background-color: #f2f6f5;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#blog-header {
  padding: 20px 0;
  margin-bottom: 50px;
}

h1.logo.blog {
  float: left;
}

nav {
  float: right;
}

nav ul li {
  float: left;
  padding: 15px;
}

nav a {
  color: yellow;
}

main {
  float: left;
  width: 60%;
  margin-bottom: 30px;
}

article h2 {
  font-weight: 600;
  color: #01214c;
  padding: 10px 0;
}

article p {
  font-size: 16px;
  color: #01214c;
  padding: 20px 0;
}

span.dropcap {
  font-size: 50px;
  font-weight: 600;
  float: left;
  margin-top: -10px;
  padding: 0 10px 5px 0;
}

article img {
  width: 100%;
}

article a {
  display: inline;
  float: right;
  font-size: 16px;
  font-weight: 600;
  color: #01214c;
}

hr {
  margin: 50px 0;
}

aside.blogaside {
  float: right;
  width: 25%;
  height: 1000px;
}

.blogaside h3 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 0;
}

.blogaside ul {
  padding: 20px 0 30px 0;
}

.blogaside ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.blogaside a {
  color: #01214c;
}

aside section p a {
  font-weight: 800;
}

.blogaside p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #01214c;
  padding: 20px 0 30px 0;
}

div.ad-unit {
  margin: 30px 0;
  text-align: center;
  background: white;
  width: 240px;
  height: 400px;
}

h5 {
  color: #01214c;
  font-weight: 600;
}
